fastapi
uvicorn
pydantic
sqlalchemy
alembic
asyncpg
pytest
pytest-asyncio
starlette
sse-starlette
anyio
aiofiles
aiohttp
async-timeout
click
email_validator
httpx
httpx-sse
Jinja2
openai
python-dotenv
python-multipart
pyyaml
setuptools
typing_extensions
websockets
attrs
annotated-types
pydantic-settings
certifi
boto3
greenlet
celery[redis]
redis
kombu
Pillow
ffmpeg-python
numpy
